<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div direction="rtl">

            <h1>welcome to my app</h1>
                <ul>
                    <li><a href="/crash/area/1654">get_crash_by_area (ex 1654)</a></li>
                    <li><a href="/crash/season/1654/10-18-2020/month/">get_crash_by_area (ex 1654) send also season</a></li>
                    <li><a href="/crash/group/1654/">get_crash_by_group</a></li>
                    <li><a href="/crash/injuries_statistics/1654/">get_injuries_statistics</a></li>
                </ul>

            <div>
                <form id="dynamicForm">
                    <p><b>To find crash by area enter area number</b></p>
                    <label for="area">Area:</label>
                    <input type="text" id="area" name="area">
                    <input type="submit" value="Submit">
                </form>
            </div>

            <script>
                document.getElementById('dynamicForm').addEventListener('submit', function(event) {
                    event.preventDefault();  // מונע שליחה ברירת מחדל של הטופס
                    var area = document.getElementById('area').value;
                    var newUrl = 'http://localhost:5000/crash/area/' + area + '/';
                    window.location.href = newUrl;  // מפנה ל-URL החדש
                });
            </script>
        </div>
    </body>
</html>