<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div direction="rtl">

            <h1>welcome to my app</h1>
                <ul>
                    <li><a href="/crash/area/1654">get_crash_by_area (ex 1654)</a></li>
                    <li><a href="/crash/season/1654/10-18-2020/month/">get_crash_by_area (ex 1654) send also season</a></li>
                    <li><a href="/crash/group/">get_crash_by_group</a></li>
                    <li><a href="/crash/injuries_statistics/">get_injuries_statistics</a></li>
                </ul>
        </div>
    </body>
</html>